@media (max-width: 767px) {

  .new-search__results {
    max-height: 600px;
    padding: 10px;
  }

  .new-search__results-inner {
    max-height: 600px;
  }

  .new-search__card {
    grid-template-columns: 40px 1fr;
  }

  .new-search__card .new-search__icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }

  .new-search__card .new-search__icon img {
    width: 40px;
    height: 40px;
  }

  .new-search__card-prices {
    display: none;
  }

  .new-search__text {
    font-size: 16px;
  }

  .new-search__results-label {
    padding: 5px;
  }

  .new-search__row {
    padding: 5px;
  }

  .new-search__card {
    padding: 5px;
  }

  .new-search__all {
    width: calc(100% - 26px);
    padding: 10px 20px;
    font-size: 18px;
  }
}