*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 300vh;
}

.new-search__wrapper {
  position: relative;

  /*временно*/
  padding: 100px 20px;
}

.new-search {
  position: relative;
}

.new-search__input {
  z-index: 1;
  box-sizing: border-box;
  border: 1px solid #328A27;
  border-radius: 20px;
  padding: 7px 120px 7px 17px;
  width: 100%;
  height: 40px;
  outline: 0;
  opacity: 1;
  text-transform: lowercase;
  background: none;
}

.new-search__btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 120px;
  height: 40px;
  background-color: #328A27;
  border: 1px solid #328A27;
  border-radius: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.new-search__results {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  max-height: 906px;
  overflow: hidden;
  padding: 10px 18px;
  border-radius: 20px;
  border: 1px solid var(--Green, #328A27);
  background-color: #FFF;
}

.new-search__results-inner {
  width: 100%;
  max-height: 906px;
  padding-bottom: 52px;
  overflow-y: auto;
  scrollbar-color: #707070 #E4E4E4;
  scrollbar-width: thin;
}

.new-search__results-inner::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
  background: var(--Grey, #E4E4E4);
  opacity: 0.3;
}

.new-search__results-inner::-webkit-scrollbar-track {
  border-radius: 3px;
  background: var(--Grey, #E4E4E4);
}

.new-search__results-inner::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(112, 112, 112, .3)
}

.new-search__result {}

.new-search__result:not(:last-child) {
  margin-bottom: 5px;
}

.new-search__results-label {
  padding: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #000;
}

.new-search__row {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px;
  text-decoration: none;
}

.new-search__row:hover {
  background: var(--Light-grey, #F5F5F5);
}

.new-search__row:not(:last-child) {
  margin-bottom: 5px;
}

.new-search__icon {
  width: 16px;
  min-width: 16px;
  height: 16px;
}

.new-search__text {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.new-search__deleted {
  margin-left: auto;
  background-color: transparent;
}

.new-search__card {
  display: grid;
  grid-template-columns: 80px 1fr 230px;
  column-gap: 10px;
  padding: 10px;

  text-decoration: none;
  color: #000;
}

.new-search__card:hover {
  background: var(--Light-grey, #F5F5F5);
}

.new-search__card .new-search__icon {
  width: 80px;
  min-width: 80px;
  height: 80px;
}

.new-search__card-info {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.new-search__text--mini {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #172500;
}

.new-search__card-prices {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
}

.new-search__card-price {
  display: flex;
  flex-direction: column;
}

.new-search__card-price strike {
  color: #707070;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 78%;
  text-align: right;
}

.new-search__card-price span {
  white-space: nowrap;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.new-search__card-btn {
  width: 138px;
  height: 40px;
  background-color: #328A27;
  border: 1px solid #328A27;
  border-radius: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.new-search__card-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 138px;
  height: 40px;
  padding: 3px 15px;
  border-radius: 20px;
  border: 1px solid #D9D9D9;
}

.new-search__card-count span {
  color: var(--Dark-grey, #707070);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.new-search__card-count button {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Dark-grey, #707070);
}

.new-search__all {
  position: absolute;
  bottom: 10px;
  left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - 36px);
  padding: 8px 40px;
  border-radius: 20px;
  border: 1px solid var(--Green, #328A27);
  background: var(--White, #FFF);

  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Green, #328A27);
}